@use "extends/_extends_dir";

main {
    @include box(100%,75vh);
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    #score {
        font-size: 5vw;
        margin-bottom: 5%;
    }

    #table {
        @include box(100vw,75vw);
        border: solid 1px white;
        margin-bottom: 5%;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(3, 1fr);

        .hole {
            border: solid 1px white;
            border-radius: 50%;

            .mole {
                @include box(100%);
                border-radius: 50%;
                background-color: tomato;
            }
        }
    }
}